.big-number {
    position: relative;
    padding: 0.25rem 0 0 4.5rem;
    margin: 2rem 0;
    min-height: 3rem;
    counter-increment: big-number;

    & + * {
        counter-reset: big-number;
    }

    & + & {
        counter-reset: none;
    }

    &:before {
        content: counter(big-number);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        font-size: 1.5rem;
        text-align: center;
        background: $color-fmb-yellow;
        border-radius: 100%;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
