.wp-block-file {
    margin: 1.5em 0;
    padding: 1em;
    border-radius: $border-radius;
    border: 1px solid rgba(#000, 0.2);
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    // This will only match in the frontend, where
    // there is no .wp-block-file__content-wrapper
    & > a:first-child,
    & > .wp-block-file__embed + a {
        display: flex;
        align-items: center;
        flex: 1 1 auto; // fill all available space, and squish on narrow screens
        max-width: calc(100% - 7rem); // prevent flex wrap with long file names, 7rem is roughly width of download button
        margin-right: auto;
        line-height: 1.4; // better than 1.66 default, for long filenames on narrow screens

        @include media-breakpoint-down('sm') {
            max-width: none; // no need to prevent wrapping when download button is hidden on really narrow screens
        }

        &:before {
            content: "";
            display: block;
            flex: 0 0 auto; // do not squish!
            width: 32px;
            height: 40px;
            margin-right: 1rem;
            @include svg-background-image('file-generic');
            background-size: 32px 40px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        $filetypes: (
            "pdf",
            "docx",
            "doc",
            "xlsx",
            "xls",
            "pptx",
            "ppt",
        );

        @each $filetype in $filetypes {
            &[href$=".#{$filetype}"]:before {
                @include svg-background-image("file-#{$filetype}");
            }
        }
    }

    .wp-block-file__button {
        @include button-variant($primary, $primary);

        // Hide the extra "Download" button on narrow screens.
        @include media-breakpoint-down('sm') {
            display: none;
        }
    }
}

.wp-block-file__embed {
    border: 1px solid rgba(#000, 0.2);
}

// In the editor.
.wp-block-file__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
