.home .page-header {
    h1 {
        @include media-breakpoint-up(md) {
            font-size: 3rem;
            max-width: 30rem;
            margin-bottom: 1.5rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 3.5rem;
            max-width: 35rem;
            margin-bottom: 2rem;
        }
    }
}
