.page-header {
    background-color: $primary;
    padding-top: $spacer;
    padding-bottom: ($spacer * 1.5);

    @include media-breakpoint-up('md') {
        padding-top: ($spacer * 1.5);
        padding-bottom: ($spacer * 3);
    }
}
