.related-items {
    margin-top: ($spacer * 3); // match h2
    margin-bottom: ($spacer * 3);
    padding: $spacer;
    background: $light;
    border-radius: $border-radius;

    @include media-breakpoint-up(md) {
        padding: ($spacer * 1.5);
    }

    .post-list__item {
        margin-top: ($spacer * 1.5);
        margin-bottom: 0;
    }
}
