.search-form {
    max-width: 35rem;

    label {
        line-height: 1.4; // down slightly from 1.66, looks better when line wraps
        margin-bottom: 0.75em; // compensate for less line-height
    }
}

.search-form__inputs {
    position: relative;

    .btn {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

// When search form appears in the site header (ie: rather than sidebar)
// we give it a drop shadow, and let it expand on large screens.
.page-header {
    .search-form {
        label {
            @include media-breakpoint-up(lg) {
                font-size: 1.2rem;
            }

            @include media-breakpoint-up(xl) {
                font-size: 1.4rem;
            }
        }
    }

    .search-form__inputs {
        .form-control {
            box-shadow: $box-shadow;

            @include media-breakpoint-up(xl) {
                height: add($input-line-height-lg * 1em, add(2rem, $input-height-border, false));
                padding: 1rem 1.5rem;
                border-radius: 0.5rem;
            }
        }

        .btn {
            @include media-breakpoint-up(xl) {
                padding: $input-btn-padding-y-lg 1.5rem;
            }
        }
    }
}
