.search-form {
    max-width: 35rem;

    label {
        @include media-breakpoint-up(lg) {
            font-size: 1.2rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: 1.4rem;
        }
    }
}

.search-form__inputs {
    position: relative;

    .form-control {
        box-shadow: $box-shadow;

        @include media-breakpoint-up(xl) {
            height: add($input-line-height-lg * 1em, add(2rem, $input-height-border, false));
            padding: 1rem 1.5rem;
            border-radius: 0.5rem;
        }
    }

    .btn {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        @include media-breakpoint-up(xl) {
            padding: $input-btn-padding-y-lg 1.5rem;
        }
    }
}
