.sidebar {
    margin: -2rem 0;
    color: $gray-600;

    @include media-breakpoint-up(lg) {
        margin: -3rem 0;
    }

    .sidebar-widget {
        margin: 2rem 0;

        @include media-breakpoint-up(lg) {
            margin: 3rem 0;
        }
    }

    .sidebar-widget__title,
    .helpful-headline,
    .search-form label {
        @include font-size($font-size-base);
        font-weight: $headings-font-weight;
    }
}
