.site-footer {
    background: $gray-800;
    box-shadow: 0 1000px 0 1000px $gray-800;
    color: $gray-400;
    padding: ($spacer * 2) 0;

    a {
        color: $gray-200;

        @include hover() {
            color: $white;
        }
    }

    ul {
        margin: 0 ($list-inline-padding * -1);
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }

    li {
        margin: 0 $list-inline-padding;
    }
}
