.table-of-contents {
    margin: ($spacer * 1.5) 0;

    h2 {
        font-size: 1em;
        margin-bottom: 0.5rem;
    }

    ol {
        margin-bottom: 0;
    }
}

.fragment {
    display: block;
    position: relative;
    top: -100px;
}
