h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-weight: 900;
}

img {
    max-width: 100%;
    height: auto;
}

// Very quick and dirty way to add spacing between
// "regular" list items (eg: excluding nav lists).
ul:not([class]) {
    & > li + li,
    & > li > ul:not([class]) {
        margin-top: 0.5em;
    }
}
