// Color system

$white: #fff;
$gray-100: #F8F9FA; // used for $light
$gray-200: #e9ecef; // used for theme-colors('default')
$gray-600: #718590; // used for $secondary and $border-color
$gray-800: #343a40; // used for $dark
$black: #000;

$blue: #006FD6;
$pink: #F6449C;
$red: #F50400;
$orange: #FD9B14;
$yellow: #ffe000;
$green: #0EB43A;
$teal: #00CECB;
$cyan: #00B7EB;

$blue-100: #EBF5FF;
$pink-100: #FFEEF7;
$red-100: #FFE6E6;
$orange-100: #FFF3E1;
$yellow-100: #FFFBD7;
$green-100: #E4FEEB;
$teal-100: #DCF9F9;
$cyan-100: #DDF6FD;

$primary: $yellow;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $orange;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$block-palette: (
    'blue': $blue,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'white': $white,
    'gray-100': $gray-100,
    'gray-600': $gray-600,
    'black': $black,
    'blue-100': $blue-100,
    'pink-100': $pink-100,
    'red-100': $red-100,
    'orange-100': $orange-100,
    'yellow-100': $yellow-100,
    'green-100': $green-100,
    'teal-100': $teal-100,
    'cyan-100': $cyan-100,
);

$theme-colors: (
    'default': $gray-200,
);

// Options

$enable-responsive-font-sizes: true;

// Spacing

// Body

// Links

$link-color: $blue;

// Paragraphs

// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers

// Grid columns

// Components

$line-height-lg: 1.66;
$line-height-sm: 1.66;

$border-width: 2px;
$border-color: $gray-600;

$component-active-color: $white;
$component-active-bg: $blue;

// Typography

$font-family-sans-serif: "Inter", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$line-height-base: 1.66;

$headings-margin-bottom: 1rem;
$headings-font-weight: 700;

$lead-font-weight: normal;

$hr-margin-y: 2rem;

// Tables

// Buttons + Forms

// Buttons

// Forms

$input-border-color: $border-color;
$input-box-shadow: none;

// Form validation

// Z-index master list

// Navs

// Navbar

$navbar-nav-link-padding-x: 1rem;

$navbar-light-color: $gray-800;
$navbar-light-hover-color: #000;
$navbar-light-active-color: #000;
$navbar-light-disabled-color: rgba($gray-800, .6);
$navbar-light-toggler-border-color: rgba($gray-800, .6) !default;

// Dropdowns

// Pagination

// Jumbotron

// Cards

// Tooltips

// Popovers

// Toasts

// Badges

// Modals

// Alerts

// Progress bars

// List group

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

// Spinners

// Close

// Code

// Utilities

// Printing

// Responsive font sizes

$rfs-base-font-size: 0.875rem;
$rfs-breakpoint: map-get($grid-breakpoints, 'lg');
$rfs-breakpoint-unit: unit($rfs-breakpoint);
$rfs-factor: 5;
