// https://codex.wordpress.org/CSS
// https://codex.wordpress.org/Styling_Images_in_Posts_and_Pages

.alignnone,
a img.alignnone {
    margin: 5px 0 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignright,
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft,
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 0 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

.wp-block-quote {
    border-left-color: $border-color;
    @extend .blockquote;
}

.wp-block-quote cite {
    @extend .blockquote-footer;
}

.wp-block-separator.is-style-wide {
    margin-top: $hr-margin-y;
    margin-bottom: $hr-margin-y;
    border: 0;
    border-top: $hr-border-width solid $hr-border-color;
}

.wp-block-group.has-background {
    margin-top: map-get($spacers, 4);
    margin-bottom: map-get($spacers, 4);

    & > :first-child {
        margin-top: 0 !important;
    }

    & > :last-child {
        margin-bottom: 0 !important;
    }
}

// Using :root here because /wp-includes/dist/css/block-library/style.css does.
@each $slug, $color in $block-palette {
    :root .has-#{$slug}-color {
        color: $color;
    }

    :root .has-#{$slug}-background-color {
        background-color: $color;
    }
}
