// Prevent grey background on "Relational" field buttons.
.cf-association__option-action {
    background: transparent;
}

// Default value (160px) is an exact multiple of the
// 40px high .cf-association__option items, which
// makes the list look like it doesn't scroll.
// So make sure only part of the last item is visible.
.cf-association__col {
    max-height: 175px;
}

// More intuitive for options to disappear from the first
// list, when they appear in the second one. Makes it
// clearer that they've moved from one to the other.
.cf-association__option--selected {
    display: none !important;
}

// Make CF labels match the default admin labels.
.cf-container .cf-field__label {
    font-weight: inherit !important;
}

// When you define custom metadata fields for attachments via the
// attachment_fields_to_edit filter, they get displayed in a nice
// table on the "Attachment Details" modal screen. Great!
// BUT the same table layout is used when "Edit(ing) more details"
// on the attachment’s dedicated post.php page, which isn’t a good
// use of space, and doesn’t match the other inputs on that screen.
// So, we remove the table styling, to make the inputs fit in better.
#post-body .compat-attachment-fields {
    display: block;

    tbody, tr, td, th {
        display: block;
        width: 100%;
        text-align: inherit;
    }

    tr {
        margin: 1em 0;
    }

    input {
        width: 100%;
    }
}

// Tidy up Carbon Fields containers when they’re situated in the
// "Document" sidebar on the post edit screen.
.edit-post-meta-boxes-area {
    #poststuff .carbon-box {
        h2, h3 {
            font-size: 13px;
            color: #191e23;
            border-bottom: none;
        }

        .inside {
            border-bottom: none;
        }
    }

    .postbox .handlediv {
        position: relative;
        z-index: 1;
    }

    .cf-container {
        .cf-field {
            padding: 0 16px 16px 16px; // match .components-panel__body
            border: none;
        }

        .cf-container__fields {
            border: none;
            margin: 0;
        }

        .cf-text__input {
            padding: 6px 4px 6px 12px; // match .components-form-token-field__input and .components-form-token-field__input-container
            min-height: 24px + 6px + 6px;
        }
    }
}
