@import "variables";
@import "mixins";

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

// TODO: How do we apply { background-color: $body-bg; } to the
// .editor-styles-wrapper given that WordPress takes the contents of
// this stylesheet and adds ".editor-styles-wrapper " to the start of
// each selector anyway? Maybe it could go in admin-style.scss?

.cf-block__preview,
.editor-rich-text {
    font-family: $font-family-base;
    @include font-size($font-size-base);
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: $body-color;

    a {
        color: $link-color;
        text-decoration: $link-decoration;

        @include hover() {
            color: $link-hover-color;
            text-decoration: $link-hover-decoration;
        }
    }
}

p {
    margin-top: 0;
    margin-bottom: $paragraph-margin-bottom;
}

p.lead {
    @include font-size($lead-font-size);
    font-weight: $lead-font-weight;
}

.editor-post-title__input {
    font-family: ($headings-font-family or $font-family-base);
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
    @include font-size($h1-font-size);
}

.wp-block-separator.is-style-wide {
    margin-top: $hr-margin-y;
    margin-bottom: $hr-margin-y;
    border: 0;
    border-top: $hr-border-width solid $hr-border-color;
}

.wp-block-quote {
    border-left-color: $border-color;
    margin: 0;

    margin-bottom: $spacer;

    .editor-rich-text {
        @include font-size($blockquote-font-size);
    }
}

.wp-block-quote__citation {
    margin-top: 0;

    @include font-size($blockquote-small-font-size);
    color: $blockquote-small-color;

    &:before {
        content: "\2014\00A0"; // em dash, nbsp
    }
}

.wp-block {
    .cf-block__fields {
        margin: 0;
        padding: 7px 0;
        background: rgba(139, 139, 150, .1); // match .wp-block-shortcode
    }

    .cf-field {
        padding: 7px 14px;

        .cf-select__input {
            max-width: none;
        }
    }

    .cf-radio__list {
        margin-bottom: 0;
    }
}

.wp-block[data-type="carbon-fields/big-number"] {
    counter-increment: big-number;

    & + * {
        counter-reset: big-number;
    }

    & + [data-type="carbon-fields/big-number"] {
        counter-reset: none;
    }

    .cf-block__inner-blocks {
        position: relative;
        border: 3px solid rgba(145, 151, 162, 0.25);
        padding: 0 24px 0 90px;

        &:before {
            content: counter(big-number);
            display: block;
            position: absolute;
            top: 18px;
            left: 18px;
            width: 48px;
            height: 48px;
            line-height: 48px;
            font-size: 24px;
            font-family: $font-family-base;
            background: rgba(145, 151, 162, 0.5);
            color: #fff;
            text-align: center;
            border-radius: 100%;
        }
    }

    .cf-block__fields {
        display: none;
    }
}

// Live "preview" for banner post type
.site-banner {
    overflow: auto;

    .cf-block__preview,
    .editor-rich-text {
        color: inherit;
    }

    a {
        color: inherit;
        text-decoration: underline;

        @include hover() {
            opacity: 0.8;
        }
    }
}
