// Note! WordPress does some icky stuff with the editor stylesheet:
// 1. If a "body" selector exists, it will be replaced with ".editor-styles-wrapper".
// 2. All other selectors will have ".editor-styles-wrapper" prepended to them.
// More info:
// https://developer.wordpress.org/block-editor/developers/themes/theme-support/#editor-styles

@import "variables";
@import "mixins";

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "bootstrap/type";
@import "bootstrap/buttons";

@import "contact-form-7";
@import "file-block";
@import "post-list";
@import "share-buttons";
@import "tags";
@import "type";


body {
    background-color: $body-bg;
    color: $body-color;
    font-family: $font-family-base;
    @include font-size($font-size-base);
    font-weight: $font-weight-base;
    line-height: $line-height-base;
}

a {
    color: $link-color;
    text-decoration: $link-decoration;

    @include hover() {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

p {
    margin-top: 0;
    margin-bottom: $paragraph-margin-bottom;
}

ul.rich-text {
    & > li + li,
    & > li > ul,
    & > li > ul > li + li {
        margin-top: 0.5em;
    }
}

.editor-post-title__input {
    font-family: ($headings-font-family or $font-family-base);
    line-height: $headings-line-height;
    color: $headings-color;
    @include font-size($h1-font-size);
}

.wp-block-separator.is-style-wide {
    margin-top: $hr-margin-y;
    margin-bottom: $hr-margin-y;
    border: 0;
    border-top: $hr-border-width solid $hr-border-color;
}

.wp-block-quote {
    border-left-color: $border-color;
    margin: 0;

    margin-bottom: $spacer;

    .editor-rich-text {
        @include font-size($blockquote-font-size);
    }
}

.wp-block-quote__citation {
    margin-top: 0;

    @include font-size($blockquote-small-font-size);
    color: $blockquote-small-color;

    &:before {
        content: "\2014\00A0"; // em dash, nbsp
    }
}

.wp-block {
    .cf-block__fields {
        margin: 0;
        padding: 7px 0;
        background: rgba(139, 139, 150, .1); // match .wp-block-shortcode
    }

    .cf-field {
        padding: 7px 14px;

        .cf-select__input {
            max-width: none;
        }
    }

    .cf-radio__list {
        margin-bottom: 0;
    }
}

.wp-block[data-type="carbon-fields/table-of-contents"] {
    .cf-block__preview {
        min-height: 0;
        padding: 1rem;
        background: rgba(139, 139, 150, .1); // match .wp-block-shortcode
    }
}

.wp-block[data-type="carbon-fields/big-number"] {
    counter-increment: big-number;

    & + * {
        counter-reset: big-number;
    }

    & + [data-type="carbon-fields/big-number"] {
        counter-reset: none;
    }

    .cf-block__inner-blocks {
        position: relative;
        border: 3px solid rgba(145, 151, 162, 0.25);
        padding: 0 24px 0 90px;

        &:before {
            content: counter(big-number);
            display: block;
            position: absolute;
            top: 18px;
            left: 18px;
            width: 48px;
            height: 48px;
            line-height: 48px;
            font-size: 24px;
            font-family: $font-family-base;
            background: rgba(145, 151, 162, 0.5);
            color: #fff;
            text-align: center;
            border-radius: 100%;
        }
    }

    .cf-block__fields {
        display: none;
    }
}

// Live "preview" for banner post type
.site-banner {
    overflow: auto;

    .cf-block__preview,
    .editor-rich-text {
        color: inherit;
    }

    a {
        color: inherit;
        text-decoration: underline;

        @include hover() {
            opacity: 0.8;
        }
    }
}
